<!DOCTYPE html>
<%- include ("layout/header") %>
<%- include ("layout/navbar") %>
<%- include ("layout/sidebar") %>
<%- include ("layout/content-header") %>

<section class="content">
<%- include ("pages/" + page["name"]) %>
</section>

<%- include ("layout/modal") %>
<%- include ("layout/tailer") %>
