<!DOCTYPE html>
<%- include ("layout/header") %>
<%- include ("layout/member-navbar") %>
<%- include ("layout/member-sidebar") %>
<%- include ("layout/member-content-header") %>

<script>
  var memberInfo = <%-JSON.stringify(member) %>;
  console.log (memberInfo);
  var userInfo = <%-JSON.stringify(user) %>;
  console.log (userInfo);
</script>

<section class="content">
<%- include ("pages/" + page["name"]) %>
</section>

<%- include ("layout/modal") %>
<%- include ("layout/tailer") %>
