<!DOCTYPE html>
<%- include ("layout/header") %>
<%- include ("layout/navbar") %>
<%- include ("layout/sidebar") %>
<%- include ("layout/content-header") %>

<section class="content">
<%- include ("pages/" + page) %>
</section>

<%- include ("layout/tailer") %>

